altgraph==0.17.3
cycler==0.11.0
contourpy==1.0.6
cx-Freeze==6.13.1
DateTime==4.9
fonttools==4.38.0
kiwisolver==1.4.4
lief==0.12.3
matplotlib==3.6.2
numpy==1.24.1
packaging==22.0
pandas==1.5.2
patsy==0.5.3
pefile==2022.5.30
pygame==2.1.2
Pillow==9.4.0
pip==22.3.1
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2022.7
pywin32-ctypes==0.2.0
scipy==1.10.0
setuptools==65.6.3
six==1.16.0
statsmodels==0.13.5
typing_extensions==4.4.0
zope.interface==5.5.2
