numpy==1.22.4
pygame==2.1.2
pip==21.2.4
setuptools==58.1.0
cycler==0.11.0
fonttools==4.33.3
kiwisolver==1.4.2
matplotlib==3.5.2
packaging==21.3
Pillow==9.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
scipy==1.8.1
six==1.16.0
pyperclip==1.8.2
typing_extensions==4.3.0
DateTime==4.5
pytz==2022.1
zope.interface==5.4.0
